<!doctype html>

<html lang="en">
	<head>
		<title>Title</title>
	</head>
	<body>
		<form method="POST" action="/">
			<input type="text" name="oaType" placeholder="object type or attribute"/>
			<input type="text" name="attrVal" placeholder="value of attribute"/>
			<input type="text" name="link" placeholder="link"/>
			<input type="text" name="attrToScrape" placeholder="attribute to scrape"/>
			<input type="number" name="numOfSites" placeholder="number of sites to compare"/>
			<input type="submit"/>
		</form>
		<br><br>
		<table border="solid">
  			<tr>
    			<th>Instances</th>
  			</tr>
		{% for piece in data %}
			<tr style="text-align: center; border: solid">
				<td>{{ piece }}</td>
			</tr>
		{% endfor %}
		</table>
		
	</body>
</html>
