{% extends 'base.html' %}

{% block title %}
	{{ operation }}
{% endblock %}	
	
{% block redirect_url %}{{ url }}{% endblock %}

{% block form %}
  {% if show_username %}
	  <input type="text" name="username" placeholder="Username"/>
  {% endif %}
  {% if show_password %}
	  <input type="password" name="password" placeholder="Password"/>
  {% endif %}
  {% if show_confirm %}
	  <input type="password" name="confirmPassword" placeholder="Confirm password"/>
  {% endif %}
  {% if show_email %}
	  <input type="text" name="email" placeholder="Email"/>
  {% endif %}
	<input type="submit" value="{{ operation }}"/>
	{{ message }}
{% endblock %}

{% block extra %}
  <a href="{{ back_url }}">{{ back_text }}</a>
  {% if operation == "Log in" %}
    <a href="/forgot">Forgot username or password</a>
  {% endif %}
{% endblock %}
