{% extends 'base.html' %}

{% block title %}
	Main
{% endblock %}	

{% block redirect_url %}
	{{ redirect_url }}
{% endblock %}

{% block form %}	
	<input type="text" name="objectType" placeholder="object type"/>
	<input type="text" name="attr" placeholder="attribute"/>
	<input type="text" name="attrVal" placeholder="value of attribute"/>
	<input type="text" name="link" placeholder="link"/>
	<input type="text" name="attrsToScrape" placeholder="attributes to scrape"/>
	<input type="submit" name="submit" value="Submit"/>
  {% if not final_stage %}
    {% for tree in attrs %}
      <br>
      <input type="submit" name="submit"  value="{{tree}}" style="border: none; background-color: white"/>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block extra %}
  {% if final_stage %}
  	<table style="border: solid">
  	{% for attr in attrs %}
  		<tr>
  			<th style="border: solid">{{ attr }}</th>
  			{% for value in attrs[attr] %}
  				<td style="border: solid">{{ value }}</td>
  			{% endfor %}
  		</tr>
  	{% endfor %}
  	</table>
  {% endif %}
{% endblock %}
