{% extends 'base.html' %}

{% block title %}welcome{% endblock %}

{% block redirect_url %}/nav_user{% endblock %}

{% block form %}
  Hello {{ username }}!
  <input type="submit" name="submit" value="Begin scraping"/>
  <input type="submit" name="submit" value="Change password"/>
  {% if is_manager %}
    <input type="submit" name="submit" value="Manager page"/>
  {% endif %}
  <input type="submit" name="submit" value="Log out"/>
{% endblock %}

{% block extra %}
  This is your history:

  {% for scrape in history %}
    <table style="border: solid">
  	{% for attr in scrape %}
  		<tr>
  			<th style="border: solid">{{ attr }}</th>
  			{% for value in scrape[attr] %}
  				<td style="border: solid">{{ value }}</td>
  			{% endfor %}
  		</tr>
  	{% endfor %}
  	</table>
  {% endfor %}
{% endblock %}